SECRET_KEY=sdfhwjkbr4wbg32r43tgbvc43tgeh65oiqwewrhg45t4
FLASK_APP=flasky.py
FLASK_DEBUG=1

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=strong_password
MONGO_INITDB_DATABASE=algebraic_predictor

MONGODB_CONNSTRING=mongodb://root:strong_password@db:27017/algebraic_predictor?authSource=admin
