SECRET_KEY=sdfhwjkbr4wbg32r43tgbvc43tgeh65oiqwewrhg45t4
FLASK_APP=flasky.py
FLASK_DEBUG=1

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=strong_password
MONGO_INITDB_NAME=algebraic_predictor
MONGO_INITDB_USERNAME=flask
MONGO_INITDB_PASSWORD=flask
