<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Console</title>
  </head>
  <body>
    <h1>User auth imitation</h1>
    <h2 id="user">Project code:</h2>
    <p id="project"></p>
    <h3>Token:</h3>
    <input type="text" id="token" />
    <h3>Project id</h3>
    <input type="text" id="project_id" />
    <button onclick="connectToConsoleByToken()">Connect to console</button>
    <button onclick="runProject()">Run project</button>
    <script>
      function runProject() {
        var token = document.getElementById("token").value;
        var project_id = document.getElementById("project_id").value;

        headers = { Authorization: `token ${token}` };
        fetch(`http://127.0.0.1:8000/api/projects/${project_id}/run/`, {
          method: "POST",
          headers: headers,
        })
          .then((response) => response.text())
          .then((text) => console.log(text));
      }
      function connectToConsoleByToken() {
        token = document.getElementById("token").value;
        var socket = new WebSocket(
          `ws://127.0.0.1:8000/ws/console/?token=${token}`
        );
        socket.onmessage = function (event) {
          var msg = event.data;
          console.log(msg);
          document.getElementById("project").innerHTML += " " + msg;
        };
      }
    </script>
  </body>
</html>
