<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Console</title>
  </head>
  <body>
    <h1>User auth imitation</h1>
    <h2 id="user">Anonymus User</h2>
    <input type="text" id="token" />
    <button onclick="processData()">Get email</button>
    <button onclick="connectToConsoleByToken()">Connect to console</button>
    <script>
      function processData() {
        token = document.getElementById("token").value;
        headers = { Authorization: `token ${token}` };
        fetch("http://127.0.0.1:8000/api/projects/run/", {
          method: "GET",
          headers: headers,
        })
          .then((response) => response.text())
          .then((text) => console.log(text));
      }
      function connectToConsoleByToken() {
        token = document.getElementById("token").value;
        var socket = new WebSocket("ws://127.0.0.1:8000/ws/console/", token);
        socket.onmessage = function (event) {
          var email = event.data;
          console.log(email);
          document.getElementById("user").innerHTML = email;
        };
      }
    </script>
  </body>
</html>
